body {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}


@font-face {
    font-family: 'baskerville';
    src: url('fonts/baskerville.ttf') format('truetype');
}


.no-right-click {
    pointer-events: none; 
    user-select: none;  
}

.container {
    display: flex;          
    justify-content: center; 
    align-items: center;     
    height: 500px;       
    width: 100%;  
}

h1 { 
    font-weight: 300;
    font-style: normal;
    font-family: 'myFont', sans-serif; 
    padding-top: 20px;
}

.links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
        }

.link {
    color: #FFFFFF;
    text-decoration: none;
    margin: 10px;
    font-family: 'myFont', sans-serif;
    font-size: 16px;
    position: absolute;
        }

.link:hover {
    text-decoration: underline;
        }

.top-center { top: 5%; left: 50%; transform: translateX(-50%); }
.bottom-center { bottom: 5%; left: 50%; transform: translateX(-50%); }
.top-left { top: 15%; left: 20%; }
.top-right { top: 15%; right: 20%; }
.bottom-left { bottom: 15%; left: 20%; }
.bottom-right { bottom: 15%; right: 20%; }


