body {
    background-image: url('images/background.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@font-face {
    font-family: 'baskerville';
    src: url('fonts/baskerville.ttf') format('truetype');
}

.center-frames {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    margin-top: 20px;
}

.frame-container {
    position: static;
    width: 30%; 
    max-width: 500px;
}

@media (max-width: 768px) {
    .frame-container {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .frame-container {
        width: 90%;
    }
}

.frames {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.skulls {
    position: static;
    max-width: 40%; 
    max-height: 40%; 
    justify-content: center;
    bottom: 50%;
}

.left-links, .middle-links, .right-links {
    position: static;
    top: 50%; 
    left: 45%; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding-top: 10px;
}

.left-links {
    margin-botton: 50px;
}

.middle-links {
    margin-bottom: 50px;
}

.right-links {
    margin-bottom: 50px;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .link {
        font-size: calc(2vw + 6px);
    }
}

@media (max-width: 480px) {
    .link {
        font-size: calc(3vw + 5px);
    }
}

.no-right-click {
    pointer-events: none; 
    user-select: none;  
}

.links {
    position: static;
    width: 80%;
    height: 80%;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'baskerville', sans-serif;
    font-size: 2vw;
    max-width: 100%; 
    position: static;
    margin: 0;
    pointer-events: auto;
}

.link:hover {
    text-decoration: underline;
}
